@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
body {
  background-color: #0f100e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 340px;
  height: 620px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
.ust {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
#degisken {
  font-size: 80px;
  width: 340px;
  height: 130px;
  text-align: right;
  border-radius: 2px;

  color: white;
  overflow-x: scroll;
}
#storage {
  width: 340px;
  height: 40px;
  text-align: right;
  color: #696969;
}

button {
  width: 70px;
  height: 70px;
  background-color: #2f322a;
  color: white;
  border-radius: 100%;
  border-color: black;
  margin-top: 10px;
  margin-right: 5px;
}
.column {
  margin-left: 12px;
}
.row {
  margin-top: 30px;
}
.opr {
  background-color: #ff8c00;
  color: white;
}
#clr {
  background-color: #8e9286;
}
#opr {
  width: 240px;
  height: 70px;
  background-color: #ff8c00;
  color: white;
  border-radius: 50px;
}
#back {
  text-align: center;
}